[v-cloak]{
    display: none;
}
.hrefPth{
    text-decoration: underline !important;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color:#f6f6f6;
    overflow:auto;
}
.weui-dialog{
    border-radius: 12px !important;
}
.weui-dialog .weui-dialog__hd{
    padding: 2em 1.5em 1.5em;
}
*{
    -webkit-overflow-scrolling: touch !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
.nodata{
    font-size: 16px;
    height: 200px;
    line-height: 200px;
    color: #999;
    width: 100%;
    text-align: center;
}
/*--------------------------------------------------------------------------- 基础信息 -----------------------------------------------*/
/****************banner\页签开始****************/
.tab{
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    background: #fff;
    font-size: 15px;
}
.searchDiv{
    width: 94%;
    display: flex;
    align-items: center;
    margin-left: 3%;
    box-sizing: border-box;
    margin-top: 10px;
}
.selectDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: #fff;
    padding: 10px 0 0 0;
}
.searchDiv input{
    width: 94%;
    height: 32px;
    border-radius: 50px;
    padding: 0 8%;
    font-size: 15px;
    box-sizing: border-box;
    background: #f5f6f7;
}
.selectDiv>div{
    width: 100%;
}
.selectDiv input{
    width: 94%;
    height: 40px;
    border-radius: 50px;
    font-size: 15px;
    box-sizing: border-box;
    background: #f5f6f7;
    padding: 0 20px;
    margin-left: 3%;
}
.searchDiv>p{
    width: 20%;
    text-align: center;
    color: #377ae6;
    font-size: 16px;
}
.searchDiv>img:first-child{
    position: absolute;
    width: 4%;
    margin-left: 2%;

}
.searchDiv>img:last-child{
    position: absolute;
    width: 4%;
    margin-right: 6%;
    right: 0;
    z-index: 100000;
}
.activeTab{
    color: #377ae6;
    border-bottom: 2px solid #377ae6;
}
.export{
    display: flex;
    justify-content: flex-end;
    padding: 12px 3% 12px 10px;
    box-sizing: border-box;
    color: #377ae6;
    align-items: center;
    width: 30%;
    margin-left: 70%;
}
.export img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
/****************banner\页签结束****************/

/****************列表查询开始****************/

.containList{
    width: 94%;
    margin-left: 3%;
    background:#fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-sizing: border-box;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.checkTime{
    width: 94%;
    margin-left: 3%;
    background:#fff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-sizing: border-box;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(6,15,26,0.10);
}
.containList>div:nth-child(1){
    width: 75%;
}
.containList>div:nth-child(2){
    width: 25%;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 12px;
    text-align: center;
}

.listLine{
    display: flex;
    font-size: 15px;
    color: #777;
    padding: 5px 12px 0 12px;
}
.listTitle{
    padding: 10px 12px;
    font-size: 16px;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listLine>div:first-child{
    width: 40%;
    color: #3b3b3b;
}
.listLine>div:last-child{
    width: 100%;
    word-break: break-all;
    color: #000;
}
/****************列表查询结束****************/

.van-dialog__confirm, .van-dialog__confirm:active{
    color:#377ae6 !important;
}
.van-dialog__message--has-title{
    font-size: 16px !important;
}


.datePart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 12px 5px 12px;
    background: #fff;

}
.inputArea{
    border-radius: 2px;
    flex-grow: 5;
    background: #f5f6f7;
    border-radius: 50px;
}
.inputArea .van-cell{
    background-color: #f5f6f7;
    border-radius: 16px;
    padding: 5px !important;
}
.inputArea input{
    text-align: left !important;
    padding: 2px 10px;
}
.line{
    flex-grow: 1;
    padding: 0 10px;
    display: inline;
    text-align: center;
    color:#999;
}
.van-search:nth-of-type(1){
    padding-bottom: 0 !important;
}
.selectChoose{
    position: relative;
}
.selectChoose:after{
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 8px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #D8D8D8 transparent transparent transparent;
}
.bottomButton{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #4675C9;
    color: #fff;
}
.year{
    position: absolute;
    top:40%;
    right: 8%;
    width: 3%;
}

.sendBtn{
    width: 100%;
    background: #fff;
    padding: 10px 0 25px 0;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}
.sendBtn>div{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #267EF0;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
}
.sendBtn img{
    width: 15px;
    margin-right: 5px;
}