<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>党委书记接待日登记记录</title>
    <link rel="stylesheet" href="../common/css/vant-2.12.css">
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="css/list.css?v=1.0">
    <!-- <link rel="stylesheet" href="css/common.css"> -->
</head>
<body >
    <div id="app" style="overflow-y: scroll;height: 100%;" v-cloak>
        <div class="listTopPart">
            <div class="listOneLine">
                <img src="image/search.png" style="width: 14px; height: 14px;padding-left: 8px;">
                <div class="keyInput">                    
                    <van-field type="text" v-model="placetext" placeholder="输入姓名/单位名称搜索" maxlength="50" ></van-field>
                </div>
                <div class="keySearchBtn" @click="search()">搜索</div>
            </div>
            <div class="listOneLine" style="align-items: center" >
                <div style="padding-left: 10px"></div>
                <div class="keyInput">
                   <input style="border:none;outline:none;background: #f5f6f7;" type="text" readonly  v-model="month" placeholder="请选择时间">
                </div>
                <div style="margin-left: auto;margin-right: 10px"  @click="chooseTab(tab)">
                    <img src="image/arrowDown.png">
                </div>

            </div>
            
        </div>
        <van-list>
        <div  v-if = "list.length>0" class="listScroll" style="overflow-y: auto;margin-top: 10px" v-for="(item, index) in list">
            <div class="listArea">
                <div class="topArea">
                    <div class="topAreaName">{{item.registrationName}}</div>
                    <div class="topAreaStatus">{{item.registrationStatus == '1'?'预约成功':'预约失败'}}</div>
                </div>
                <div class="divider"></div>
                <div style="display: flex;flex-direction: row;justify-content: space-between">
                    <div class="leftArea">
                        <div><span style="color:#9DA0A3">所在单位：</span>{{item.registrationDept}}</div>
                        <div><span style="color:#9DA0A3">预约访谈时间：</span>{{item.registrationMeetingTime}}</div>
                        <div><span style="color:#9DA0A3">提交时间：</span>{{item.updateTime}}</div>
                    </div>
                    <div class="rightArea" @click="toDetail(item)">
                        <div style="width: 8px;height: 12px"><img src="image/right.png" style="width: 100%;height: 100%;object-fit: cover"></div>
                    </div>
                </div>
            </div>      
        </div>
    </van-list>
    <div class="" v-if="moreStatus" @click="addMore()" style="color:#377ae6;text-align: center;padding-bottom: 10px;box-sizing: border-box;font-size: 15px">----点击加载更多----</div>
        <div class="" v-if="noMoreStatus" style="color:#999;text-align: center;padding-bottom: 10px;box-sizing: border-box;font-size: 15px">----没有更多数据了----</div>
            <!--时间筛选-->
            <van-popup v-model="monthShow" position="bottom">
                    <van-datetime-picker type="year-month"
                                         title="请选择年月"
                                         v-model="currentDateTime"
                                         :max-date='maxDate'
                                         :min-date='minDate'
                                         :formatter="formatter"
                                         @cancel="monthShow=false"
                                         @confirm="chooseDate">
                    </van-datetime-picker>
                </van-popup>
         <div  class="nodate" v-if="nodata">
            <div class="noMessage">
                <img src="image/noList.png">
            </div>
            暂无数据
        </div> 


    </div>
</body>
<script src="../common/js/vue.min.js"></script>
<script src="../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../common/js/base.js?v=202110220"></script>
<script type="text/javascript" src="../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie_jq.js"></script>
<script src="../common/js/watermark.js"></script>
<script type="text/javascript" src="../common/js/jssdk.js"></script>
<script src="./../common/js/server.js?v=20211022"></script>
<script type="text/javascript" src="js/list.js?v=1.0"></script>
<script src="../common/js/vConsole.min.js"></script> 
<script type="text/javascript">
    // var vConsole = new VConsole();
    
    function getUserFinish(){
            initJSSDK(['hideAllNonBaseMenuItem','invoke','closeWindow']);
            //ios页面回退不刷新
            window.addEventListener('pageshow',function (e) {
                if(e.persisted){
                    location.reload();
                }
            });
           wx.ready(function() {
               wx.hideAllNonBaseMenuItem();
               WeixinJSBridge.on('menu:setfont', function() {
                    WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : '0' });
                });

           });
           // 调用水印
           var username = $.parseJSON($.cookie("user")).name;
           __canvasWM({
               content: username
           });
           initFun()
    }

</script>
<script type="text/javascript" src="../common/js/getUserInfo.js"></script>
</html>