<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>西安银行</title>
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../common/css/vant-2.12.css">
    <link rel="stylesheet" href="css/index.css?v=2.1">
</head>
<body style="overflow: hidden">
    <div id="app" v-cloak style="overflow-y: scroll;height: 100%;display:none">
        <!-- 按接口分组动态渲染明细，每组下可能有多条记录 -->
        <div v-if="sections.length">
            <div v-for="section in sections" :key="section.key">
                <div class="sectionTitle">{{section.title}}</div>
                <div
                    class="baseInfoPart"
                    v-for="(item, itemIndex) in section.items"
                    :key="section.key + '-' + itemIndex">
                    <div class="baseLine" v-for="(row, rowIndex) in item.rows" :key="section.key + '-' + itemIndex + '-' + rowIndex">
                        <div>{{row.label}}</div>
                        <div>{{row.value}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 接口无有效字段时展示空态 -->
        <div class="nodate" v-if="noData">暂无数据</div>
    </div>
</body>
<script src="../common/js/vue.min.js"></script>
<script src="../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie_jq.js"></script>
<script type="text/javascript" src="../common/js/base.js?v=202110220"></script>
<script type="text/javascript" src="../common/js/jssdk.js"></script>
<script src="../common/js/watermark.js"></script>
<script src="./../common/js/server.js?v=20211022"></script>
<script type="text/javascript" src="js/investmentDetail.js?v=1.0.0"></script>
<script type="text/javascript">
    // iOS 返回页面时强制刷新，避免从缓存恢复旧数据
    window.addEventListener('pageshow', function(e) {
        if (e.persisted) {
            location.reload();
        }
    });

    function getUserFinish(){
        // 详情页不需要额外菜单能力，只保留基础能力
        initJSSDK(['hideAllNonBaseMenuItem', 'invoke', 'closeWindow']);

        wx.ready(function() {
            wx.hideAllNonBaseMenuItem();
            WeixinJSBridge.on('menu:setfont', function() {
                WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : '0' });
            });
        });

        var username = $.parseJSON($.cookie("user")).name;
        __canvasWM({
            content: username
        });
        // 登录态完成后再初始化页面，保持和 ARES 其他页面一致
        initFun();
    }
</script>
<script type="text/javascript" src="../common/js/getUserInfo.js"></script>
</html>
