[v-cloak]{
    display: none;
}
html,body{
    width: 100%;
    min-height: 100vh;
    background-color:#f6f6f6;
}
*{
    -webkit-overflow-scrolling: touch !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}


.fs12 {
    font-size: 12px !important;
}

.fs10 {
    font-size: 10px !important;
}

.display {
    display: flex;
}

.flex {
    flex: 1;
}

.color0465FF {
    color: #4273d8 !important;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: flex-end;
}

.align-right {
    text-align: right;
}

.session-container {
    /* background: #fff; */
}

.session-item-container
{
    padding: 12px 0px;
}

.session-item-active {
    padding: 12px 10px;
}

.session-item-title {
    min-width: 100px;
}

.session-active-title,.session-active-title1{
    min-width: 100px;
    font-weight: bold;
}

.border-none {
    border: none !important;
}

.border-top {
    border-top: 0.5px solid #ddd;
}

.border-bottom {
    border-bottom: 0.5px solid #ddd;
}

.color999999 {
    color: #666666 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.color333333 {
    color: #333 !important;
}

.van-picker-column__item--selected, .van-picker-column__item--selected .van-ellipsis {
    color: #4273d8 !important;
}
.van-dialog__confirm, .van-dialog__confirm:active {
    color: #4273d8;
}
.van-dialog__header--isolated {
    padding: 32px 12px;
}
.weui-dialog__hd {
    padding: 1.3em 1.6em 1.1em;
}
.van-picker__confirm {
    color: #4273d8;
}
.color999 {
    color: #999 !important;
}

::-webkit-input-placeholder {
    color:  #999 !important;
    font-size: 15px;
}

::-moz-placeholder {
    color:  #999 !important;
    font-size: 15px;
}

::-moz-placeholder {
    color:  #999 !important;
    font-size: 15px;
}

:-ms-input-placeholder {
    color:  #999 !important;
    font-size: 15px;
}
::placeholder {
    color: #999 !important;
    font-size: 15px;
}
.van-cell {
    padding: 0;
}
/* .van-field__control{
    text-align: right;
} */
.van-field__control[type=search] {
    text-align: left !important;
}
.van-search__action>div:nth-of-type(1){
    background: #4273d8;
    border-radius: 4px;
    font-size: 13px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,1);
    padding: 0 10px;
}
.van-dialog{
    border-radius:6px;
}

.session-item-container-link {
    position: relative;
    padding-right: 10px;
}

.session-item-container-link::before {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0px;
}

.banner {
    width: 100%;
    margin-bottom: 5px;
}

.banner >img {
    width: 100%;

}

.contentPart {
    overflow: hidden;
    border-radius: 4px;
    padding: 0 12px;
}


.seqNos-container  {
    width: calc(100% - 100px);
}

.seqNos-item {
    word-wrap: break-word;
}

.section-container {
    margin: 0 12px;
    /* background-color: #fff; */
    border-radius: 4px;
    overflow: hidden;
}

.session-active-title,.session-active-title1 {
    position: relative;
    padding-left: 10px;
}

.session-active-title::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    background: #4273d8;
    top: 4px;
    left: 0;
}

.xuanz-img{
    width: 18px;
    height: 18px;
    vertical-align: sub;
}


.list-box{
    width: 100%;
    padding: 12px 12px 5px 12px;
    box-sizing: border-box;
    background: #ffffff;
}

.yuyun-box {
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-radius: 6px;
    color: #4273d8;
    border: 1px solid #4273d8;
    text-align: center;
    margin: 12px auto;
    font-size: 16px;
    box-sizing: border-box;
}

.yuyun-box img {
    height: 20px;
    vertical-align: middle;
    margin-right: 6px;
}

.input-box{
    width: 100%;
}
.input-box textarea{
    height: 100px;
    width: 100%;
    background: #f4f5f9;
    border-radius: 5px;
    -webkit-appearance: none;
    outline: 0;
    padding: 12px 10px 5px 10px;
    border: 0px;
    box-sizing: border-box;
    font-size: 15px;
}

.input-box .input-num{
    width: 80px;
    text-align: right;
    position: absolute;
    right: 20px;
    margin-top: -28px;
    font-size: 12px;
}

.luyinbtn {
    width: 100px;
    background-color: #fff;
    color: #333;
    height: 36px;
    line-height: 36px;
    border-radius: 8px;
    margin: 6px auto 12px;
    font-size: 15px;
    font-weight: 500;
}


.recodeblock {
    position: fixed;
    width: 140px;
    max-width: 300px;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .6);
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    margin: 0;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
}

.recodeblock.showluyin {
    opacity: 1;
    visibility: visible;
}

.recodeblock img {
    width: 68%;
    margin: 15px auto 0;
}


.van-step--vertical .van-step__line {
    top: 30px !important;
    height: calc(100% - 20px) !important;
}

.van-step__circle {
    background-color: #4273d8 !important;
}

.applyName {
    padding: 5px 0;
}


.footer-container {
    padding: 45px 12px;
}

.button-contaienr {
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #4273d8;
    color: #fff;
    border-radius: 6px;
}



.van-dialog {
    border-radius: 8px !important;
    width: calc(100% - 70px) !important;
}

.van-dialog__content--isolated {

    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.van-dialog__message {
    font-size: 17px !important;
    /* line-height: 0 !important; */
}

[class*=van-hairline]::after {
    border-color: #D9D9D9 !important;
}

.van-dialog__confirm {
    color: #4273d8 !important;
    font-weight: 600;
}

.van-field--min-height {
    padding: 5px !important;
    border-radius: 6px;
    background-color: #f5f5f5;
}

.van-image-preview__swipe-item {
    padding: 0 10px !important;
    box-sizing: border-box !important;
}

.v-test{
    border: none;
    text-align: right;
}
.checkbox-img{
    height: 16px;
    width: 16px;
    margin-right: 5px;
    display: block;
}
.checkbox-flex{
    display: flex;
    align-items: center;
    margin: 15px 15px 0 0;
}
.van-checkbox__icon{
    height: auto; !important;
    line-height: 0 !important;
}
.van-checkbox__label{
    margin-left: 4px !important;
}
.van-radio__icon{
    height: auto; !important;
    line-height: 0 !important;
}
.van-radio__label{
    margin-left: 4px !important;
}
.numberName{
    font-size: 18px !important;
    font-weight: bold;
}
.weui-dialog{
    border-radius: 8px !important;
    font-size: 17px;
}
.weui-dialog .weui-dialog__hd{
    padding: 20px;
}
.weui-dialog__ft,.weui-dialog__btn{
    font-size: 17px;
    color: #377ae6;
}
.distribute{
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px 10px 10px;
    font-size: 15px;
    color: #377ae6;
    background: #f6f6f6;
}
.contentPart{
    padding: 0 12px;
    background: #fff;
    margin-bottom: 10px;
}
.contentLine{
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
}
.contentPart>div:last-child{
    border-bottom: none;
}
.contentLine>div:first-child{
    width: 35%;
    text-align: left;
    color: #666;
}
.contentLine>div{
    width: 65%;
    text-align: right;
    word-break: break-all;
}
.icon{
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
}
#app>div:first-child>div:last-child{
    /*padding-bottom: 10px;*/
}
.van-dialog__confirm, .van-dialog__confirm:active{
    color:#377ae6 !important;
}
.submitDiv img{
    width: 20px;
    margin-right: 4px;
}
.submitDiv>div:last-child{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.submitDiv>div:last-child>div{
    display: flex;
    align-items: center;
}
.submitDiv>div:last-child>div:first-child{
    margin-right: 20px;
}
.title{
    display: flex;
    align-items: center;
    padding: 15px 12px;
    font-weight: bold;
    background: #f6f6f6;

}
.title>p:first-child{
    width: 4px;
    height: 20px;
    background: #377ae6;
}
.title>p:last-child{
    padding-left: 10px;
}
/* ---------------------------------------------------------------审批 ------------------------------------------------------*/
.bottomButton{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.submitButton{
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 90%;
    border-radius: 10px;
}
.bottomButton>div:first-child{
    border: 1px solid #377ae6;
    color: #377ae6;
}
.bottomButton>div:last-child{
    background: #377ae6;
    color: #fff;
}
.uploadBox{
    box-sizing: border-box;
    font-size:15px;
    color:#999;
    padding-bottom: 10px;
}
.uploadImg-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    box-sizing: border-box;
}

.uploadImg-box .upload {
    width:78px;
    height:78px;
    position: relative;
    margin-right: 15px;
    margin-top: 10px;
}

.uploadImg-box .upload img {
    width: 100%;
    height: 100%;
}

.uploadImg-box .upload .delete {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -7px;
    right: -7px;
}

.van-popup{
    z-index: 999 !important;
}
.van-overlay{
    z-index: 999 !important;
}
.van-popup--center{
    top:34% !important;
    width: 90%;
    border-radius: 10px;
}
.refuseBtn{
    display: flex;
    border-top: 1px solid #e1e1e1;
}
.refuseBtn>div:first-child{
    border-right: 1px solid #e1e1e1;
    color: #999;
}
.refuseBtn>div{
    width: 50%;
    text-align: center;
    padding: 12px 0;
}



.searchDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    background: #f6f6f6;
}

.searchDiv input{
    width: 100%;
    height: 32px;
    border-radius: 50px;
    padding: 0 8%;
    font-size: 15px;
    box-sizing: border-box;
    background: #fff;
}


.searchDiv>p{
    width: 20%;
    text-align: center;
    color: #377ae6;
    font-size: 16px;
}
.searchDiv>img:first-child{
    position: absolute;
    width: 4%;
    margin-left: 2%;

}
.searchDiv>img:last-child{
    position: absolute;
    width: 4%;
    margin-right: 6%;
    right: 0;
    z-index: 100000;
}
.nodata{
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: #999;
}
.lis2{
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}
.lis2>div{
    padding: 5px 0;
}
.addBtn{
    display: flex;
    background: #f6f6f6;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
.addBtn>p{
    width: 40%;
    padding: 10px 0 ;
    text-align: center;
    border-radius: 50px;
}
.chooseSel{
    background: #377ae6;
    color: #fff;
}
.closeSel{
    border: 1px solid #377ae6;
    color: #377ae6;
}

.van-dialog__confirm, .van-dialog__confirm:active{
    color:#377ae6 !important;
}
.van-dialog__message--has-title{
    font-size: 16px !important;
}

/* ----------------------------------------------------------查看图片预览-------------------------------------------- */
.upImgs{
    padding-bottom: 10px;
}
.pics{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
.pics .pic{
    margin: 10px 10px 0 0;
    width: 20%;
}
.pics .pic b{
    display: block;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 200;
    /* background: url('../image/photo.png')no-repeat center;
    background-size: 90px auto; */
    position: relative;
}
.pics .pic b img{
    display: block;
    width: 90px;
    border-radius: 4px;
}
.pics .pic span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #666;
    line-height: 40px;
    color: #999;
}
.pics .pic b .click{
    width: 90px;
    line-height: 22px;
    border-radius: 0 0 4px 4px;
    opacity: 0.45;
    background: #000;
    text-align: center;
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: 0;
}
.pics .pic b .loadding{
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: calc((100% - 25px)/2);;
    top:30px;
}

.imgPart{
    width:100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    position: relative;
}
.imgPart:after{
    content: '';
    width: 100%;
    height: 2px;
    background: #E3E3E3;
    -ms-transform: scaleY(.3);
    -webkit-transform: scaleY(.3);
    transform: scaleY(.3);
    position: absolute;
    top: 0;
    left: 0;
}
.imgPart .title{
    width: 100%;
    padding: 15px 12px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    color: #6A6A6A;
}
.imgOne{
    width: 18%;
    box-sizing: border-box;
}
.uploadIMg{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}
.uploadIMg>img{
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: fill;
    border-radius: 4px;
    /* border: 1px solid #ddd; */
}
.typeImg{
    position: relative;
    border-bottom: 0.5px solid #DDDDDD;
}
.deleteImg{
    position: absolute;
    top: 10px;
    right: 9px;
    width: 18px;
    height: 18px;
    z-index: 10;
}
.deleteImg>img{
    width:100%
}
.uploadIMg .loadding{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadIMg .loadding img{
    display: block;
    width: 25px;
    height: 25px;
}
.transInfomation{
    font-size: 15px;
    color: #333333;
    padding: 10px 12px;
    border-bottom: 0.5px solid #DDDDDD;
}

.applyHuman{
    font-size: 18px;
    color: #000;
    margin: 4px 2px;
    font-weight: 500;
    display: flex;
}
.applyName{
    font-size: 12px;
    color: #000000;
    margin: 10px 2px 0 2px;
}
.applyHuman>div:nth-of-type(1){
    flex:1;
}
.applyHuman>div:nth-of-type(2){
    font-size: 16px;
    padding-left: 10px;
    text-align: right;
}

.titleDesc{
    padding: 12.5px 10px 12.5px 12px;
    margin-top: 10px;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.titleDesc span{
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    position: relative;
    padding-left: 12px;
    background: #fff;
}
.titleDesc span::before{
    content: '';
    width: 3px;
    height: 78%;
    background-color: #0465FF;
    position: absolute;
    top: 12%;
    left: 0;
}
.upload_box{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:0 15px 10px 15px;
    box-sizing: border-box;
}
.upload_list,.load_list{
    background: #fff;
    width:60px;
    height:60px;
    margin-bottom:10px;
    overflow: hidden;
    margin-top:10px;
}
.load_list{
    position: relative;
}
.upload_list{
    border:1px solid #e5e5e5;
    border-radius:4px;
}
.load_list img{
    width:50%;
    height:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.upload_info{
    background: #fff;
    border-radius: 10px;
    margin-bottom:10px;
    padding:0px 10px 0 0;
    box-sizing: border-box;
}
.upload_list img{
    width:100%;
    height:100%;
}
.upload_list .deleteImg,.imgOne .deleteImg{
    width:15px;
    height:15px;
    position: absolute;
    top: 3px;
    right: 5px;
}
.deleteVideo{
    width:15px;
    height:15px;
    position: absolute;
    top: -5px;
    right: 50%;
}
.add_img{
    width:60px;
    height:60px;
    vertical-align: middle;
    margin-top: 10px;
}
.imgOne img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.icon{
    width: 12px;
    height: 15px;
    margin-top: 2.5%;
    margin-left: 3%;
    margin-right: 0 !important;
}
.closeButton{
    background: none !important;
    border: none !important;
    color: #377ae6 !important;
    text-decoration: underline;
}
.title1{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: #f5f5f6;
}
.title1>p:first-child{
    color: #4c4c4c;
    font-size: 17px;
}
.pass,.refuse{
    width: 20px;
    margin-right: 5px;
    margin-top: 1px;
}
.flow .flowLists{
    width: 100%;
    padding: 0px 13px 15px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    /* margin-top: 15px; */
    box-sizing: border-box;
}
.flow .flowLists .list{
    width: 100%;
    display: flex;
}
.flow .flowLists .list .left{
    width: 5px;
    margin-right: 12px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.flow .flowLists .list .left i{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #0465FF;
    line-height: 50px;
    margin-top: 21px;
}
.flow .flowLists .list .left::before{
    content: '';
    width: 1px;
    height: 20px;
    background: #0465FF;
    position: absolute;
    top: -5px;
}
.flow .flowLists .list .left::after{
    content: '';
    width: 1px;
    height:-webkit-calc(100%  - 24px);
    background: #0465FF;
    position: absolute;
    bottom: -5px;
}
.flow .flowLists .list:first-child .left::before{
    display: none;
}
.flow .flowLists .list:last-child .left::after{
    display: none;
}
.flow .flowLists .list .right{
    flex: 1;
    position: relative;
}
.flow .flowLists .list .right .states{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}
.flow .flowLists .list .right .states span{
    display: block;
    padding: 15px 0 10px;
    box-sizing: border-box;
    line-height: 20px;
    color: #333;
}
.flow .flowLists .list .right .states span:first-child{
    flex:1;
}
.flow .flowLists .list .right .states span:last-child{
    width: 80px;
    text-align: right;
    color: #999;
}
.flow .flowLists .list .right .time{

    box-sizing: border-box;
    line-height: 20px;
    color: #666;
    font-size: 14px;
}