<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"
        name="viewport" />
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../common/css/vant-2.12.css">
    <link rel="stylesheet" href="css/customDetails.css">

    <title>客户详情</title>
</head>

<body>
    <div id="app" v-cloak>
        
        <!-- 内容区域 -->
        <div class="content-wrapper" v-if="detailData.id">
          <!-- 状态行 -->
          <div class="status-row">
            <span class="status-label">状态</span>
            <span class="status-value" :class="getStatusClass(detailData.datastage)">
              {{ getDataStage(detailData.datastage) }}
            </span>
          </div>
    
          <!-- 客户信息 -->
          <div class="section-header">客户信息</div>
          <div class="info-section">
            <div class="info-item">
              <span class="info-label">客户类型</span>
              <span class="info-value">{{ getCustType(detailData.custtype) }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">营销员工号</span>
              <span class="info-value">{{ detailData.markethumancode || '-' }}</span>
            </div>
            <div class="info-item" v-if="detailData.custtype == '1'"  >
              <span class="info-label">企业全称</span>
              <span class="info-value">{{ detailData.entpname }}</span>
            </div>
            <!-- <div class="info-item" v-if="detailData.custtype == '3'">
              <span class="info-label">是否个体户</span>
              <span class="info-value">{{DICT.Isindiviual[detailData.isindiviual]  }}</span>
            </div> -->
            <div class="info-item" v-if="detailData.custtype == '2' || (detailData.custtype == '3'&& detailData.isindiviual=='1')">
              <span class="info-label" >个体户名称</span>
              <span class="info-value">{{ detailData.entpname }}</span>
            </div>
            <div class="info-item" v-if="detailData.custtype == '2' || detailData.custtype == '3'" >
              <span class="info-label">自然人名称</span>
              <span class="info-value">{{ detailData.natuname }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">客户地址</span>
              <span class="info-value">{{ detailData.address }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">联系电话</span>
              <span class="info-value">
                <a :href="'tel:' + detailData.phone" class="phone-link">
                  {{ desensitizeIdNo(detailData.phone,3,7) }}
                  <img class="phone" src="./images/phone.png" alt="">
                </a>
              </span>
            </div>
            <div class="info-item">
              <span class="info-label">所属行业</span>
              <span class="info-value">{{ getIndustry(detailData.industry, detailData.custtype) }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">经营年限</span>
              <span class="info-value">{{ getOperatingYears(detailData.operatingyears) }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">资金需求</span>
              <span class="info-value">{{ getFundingRequ(detailData.fundingrequ, detailData.custtype) }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">用途</span>
              <span class="info-value">{{ getPurpose(detailData.purpose, detailData.custtype) }}</span>
            </div>
          </div>
    
          <!-- 预约信息 -->
          <div class="section-header">预约信息</div>
          <div class="info-section">
            <div class="info-item">
              <span class="info-label">银行联络时间</span>
              <span class="info-value">{{ getContactTime(detailData.contacttime) }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">二维码获取渠道</span>
              <span class="info-value">{{ getChannel(detailData.channal) }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">申请时间</span>
              <span class="info-value">{{ detailData.createtime }}</span>
            </div>
          </div>
    
          <!-- 客户经理信息 -->
          <div class="section-header" v-if="detailData.datastage !== '-1'">客户经理信息</div>
          <div class="info-section" v-if="detailData.datastage !== '-1'">
            <div class="info-item">
              <span class="info-label">客户经理姓名</span>
              <span class="info-value">{{ detailData.hcname || '-' }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">联系电话</span>
              <span class="info-value">{{ detailData.hcphone || '-' }}</span>
            </div>
          </div>
    
          <!-- 对接信息 -->
          <div class="section-header" v-if="showDockingSection">对接信息</div>
          <div class="info-section" v-if="showDockingSection">
            <!-- 对接时间 -->
            <div class="info-item">
              <span class="info-label">对接时间</span>
              <span class="info-value">{{ detailData.updatetime }}</span>
            </div>
            <!-- 是否准入：1已对接不显示，2-7显示 -->
            <div class="info-item" v-if="showAdmission" :style="{ borderBottom: needHideBorder ? 'none' : '' }">
              <span class="info-label">是否准入</span>
              <span class="info-value" :style="{ color: detailData.datastage === '7' ? '#FF4D4F' : '#333' }">
                {{ detailData.datastage === '7' ? '不予准入' : '可以准入' }}
              </span>
            </div>
            <!-- 对接阶段：2-6显示，7不显示 -->
            <div class="info-item" v-if="showDockingStage" :style="{ borderBottom: needHideBorder ? 'none' : ''}" >
              <span class="info-label">对接阶段</span>
              <span class="info-value">{{ getDataStage(detailData.datastage) }}</span>
            </div>
            <!-- 不予准入原因 -->
            <div class="reason-field" v-if="(detailData.datastage === '7' && detailData.refusereason) || (detailData.datastage === '6' && detailData.refusereason)">
              <van-field
                v-model="detailData.refusereason"
                type="textarea"
                rows="3"
                autosize
                readonly
                :border="false"
              />
            </div>
          </div>
        </div>
    
        <!-- 底部分配按钮 -->
        <div class="bottom-btn-wrapper" v-if="detailData.datastage === '-1'">
          <van-button type="info" @click="handleAssign">分配</van-button>
        </div>
    <!-- 人员选择弹窗 -->
  <van-popup v-model="showPopup" position="bottom" round>
      <div class="popup-header">
        <span class="cancel" @click="showPopup = false">取消</span>
        <span class="title">选择客户经理</span>
        <span class="confirm" @click="confirmAssign">确定</span>
      </div>
      <div class="manager-list">
        <van-radio-group v-model="selectedManager">
          <div 
            class="manager-item" 
            v-for="manager in managerList" 
            :key="manager.humancode"
            @click="selectedManager = manager.humancode"
          >
            <div class="info">
              <span class="name">{{ manager.idcardname }}</span>
              <!-- <span class="dept">{{ manager.dept }}</span> -->
            </div>
            <van-radio :name="manager.humancode"></van-radio>
          </div>
        </van-radio-group>
      </div>
    </van-popup>
        <!-- 底部安全区域 -->
        <div class="safe-area-bottom"></div>
      </div>

</body>
<script type="text/javascript" src="../common/js/vue.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie_jq.js"></script>
<script type="text/javascript" src="../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../common/js/base.js"></script>
<script type="text/javascript" src="../common/js/jssdk.js"></script>
<script src="../common/js/watermark.js"></script>
<script src="../common/js/server.js"></script>
<script src="js/customDetails.js"></script>
<script src="js/DICT.js"></script>
<script src="../common/js/vConsole.min.js"></script>


<script>
    //  var vConsole = new VConsole();
    initJSSDK(['hideAllNonBaseMenuItem', 'invoke', 'selectEnterpriseContact'])
    wx.ready(function () {
        wx.hideAllNonBaseMenuItem();
    });
    function getUserFinish() {
        var username = $.parseJSON($.cookie("user")).name;
        __canvasWM({
            content: username
        });
        initFun()
    } 
</script>
<script type="text/javascript" src="../common/js/getUserInfo.js"></script>

</html>