.adddPeopleModel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* --------------------------------- 搜索框 ---------------------------- */
.searchModel{
    width: 100%;
    padding: 24px 12px 0;
    box-sizing: border-box;
    background: #fff;
}
.search{
    width: 100%;
    background: #F5F6F7;
    border-radius: 20px;
    padding: 5px 5px 5px 7px;
    box-sizing: border-box;
    display: flex;
}
.search i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    margin: 0 7px;
}
.search i img{
    display: block;
    width: 14px;
}
.search span{
    display: block;
    padding: 5px 14px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    background: #267EF0;
    border-radius: 24px;
}
.search input{
    flex: 1;
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    font-size: 13px;
    color: #333;
    line-height: 17px;
}
/* ------------------------------------------------------- 列表内容 ---------------------------------------------- */
.main1{
    flex: 1;
    overflow-y: auto;
    background: #F5F6F7;
    margin-top: 10px;
}
/* ------------- 没有列表 ------------- */
.noList{
    width: 94%;
    height: 100px;
    margin: 0 auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    line-height:32px;
}
.noList span{
    margin-top: 10px;
    color: #333;
    line-height:32px;
    font-size:15px;
}
.noList img{
    display: block;
    width:55%;
}
/* ------------- 列表 ------------- */
.listItem{
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.listItem::before{
    content: "";
    position: absolute;
    left: 12px;
    bottom:0;
    width: calc(100% - 24px);
    height: 1px;
    border-bottom:1px solid #ddd;
    color: #ddd;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.listItem:last-child::before{
    display: none;
}
.listItem .name{
    font-size: 15px;
    line-height: 20px;
    color: #000;
}
.listItem .toSelect{
    display: flex;
    align-items: center;
} 
.listItem .toSelect img{
    display: block;
    width: 18px;
    height: 18px;
}

/* ------------------------------------- 底部按钮 -----------------------------*/
.footBtn{
    width: 100%;
    background-color: #fff;
    padding: 10px 15px 30px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}
.footBtn .allSelect{
    display: flex;
    align-items: center;
    padding: 0 30px 0 16px;
    box-sizing: border-box;
}
.footBtn .allSelect img{
    display: block;
    width: 20px;
    height: 20px;
}
.footBtn .allSelect span{
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}
.footBtn .selectBtn{
    flex: 1;
    background: #267EF0;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    padding: 15px 0;
    box-sizing: border-box;
    text-align: center;
}