<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"
        name="viewport" />
    <mata http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>预约列表</title>
    <!-- head 中 -->
    <link rel="stylesheet" href="../common/css/weui.min.css" />
    <link rel="stylesheet" href="../common/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="../common/css/vant-2.12.css">
    <link rel="stylesheet" href="./css/style.css?v=1.0.6">
</head>

<body>
    <div id="app" v-cloak>
        <div>
            <div>
                <div class="tab_con">
                    <span v-for="(item,index) in tabs" :key="index" :class="tabIndex==index?'active':'color999'"
                        @click='tabTap(index,item.id)'>{{item.text}}</span>
                </div>
                <!-- 占位 -->
                <div style="height:45px"></div>
                <div v-if="viewFlag">
                    <!-- 预约问诊 -->
                    <div v-if='tabIndex==0'>
                        <!-- 有数据 -->
                        <div v-if="list.length>0">
                            <div v-for='(item,index) in list' :key='index' @click='toDetail(item.id)'>
                                <div style="height:10px;"></div>
                                <div class="appointmentList_info">
                                    <div class="displayStart">
                                        <span class="doctor_name">{{item.apointName}}</span>
                                        <img class="gender_img" :src="item.apointGender==1?'./images/male.png':'./images/female.png'" alt="">
                                    </div>
                                    <div class="appointmentList_info_m displayStart">
                                        <span style="margin-right:24px;">员工号：{{item.apointUserId}}</span>
                                        <span>部门：{{item.apointSsbm}}</span>
                                    </div>
                                    <div class="appointmentList_info_b">
                                        <div style="padding-bottom: 4px;" class="displayStart">
                                            <img src="./images/doctor_icon.png" alt="">
                                            <span>预约医师：{{item.apointDocName}}</span>
                                        </div>
                                        <div class="displayStart">
                                            <img src="./images/time_icon.png" alt="">
                                            <span>预约时间：{{item.date}} | {{item.timeText}} | {{item.time}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 无数据 -->
                        <div v-else class="noData">
                            暂无数据
                        </div>
                    </div>
                    <!-- 理疗设备预约 -->
                    <div v-if='tabIndex==1'>
                        <!-- 有数据 -->
                        <div v-if="list.length>0">
                            <div v-for='(item,index) in list' :key='index' @click='toDetail(item.id)'>
                                <div style="height:10px;"></div>
                                <div class="appointmentList_info">
                                    <div class="displayStart">
                                        <span class="doctor_name">{{item.apointName}}</span>
                                        <img class="gender_img" :src="item.apointGender==1?'./images/male.png':'./images/female.png'" alt="">
                                    </div>
                                    <div class="appointmentList_info_m displayStart">
                                        <span style="margin-right:24px;">员工号：{{item.apointUserId}}</span>
                                        <span>部门：{{item.apointSsbm}}</span>
                                    </div>
                                    <div class="appointmentList_info_b">
                                        <div style="padding-bottom: 4px;" class="displayStart">
                                            <img src="./images/device_icon.png" alt="">
                                            <span>预约理疗设备：{{item.apointDeviceName}}</span>
                                        </div>
                                        <div class="displayStart">
                                            <img src="./images/time_icon.png" alt="">
                                            <span>预约时间：{{item.date}} | {{item.timeText}} | {{item.time}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 无数据 -->
                        <div v-else class="noData">
                            暂无数据
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- 引入 Vue 的 JS 文件 -->
<script type="text/javascript" src="../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie_jq.js"></script>
<script type="text/javascript" src="../common/js/vue.min.js"></script>
<script type="text/javascript" src="../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../common/js/base.js"></script>
<script type="text/javascript" src="../common/js/jssdk.js"></script>
<script type="text/javascript" src="../common/js/server.js"></script>
<script type="text/javascript" src="./js/appointmentList.js?v=1.0.11"></script>
<script type="text/javascript" src="../common/js/watermark.js?v=1.3"></script>
<script>
    //初始化微信社区
    $(function () {
        initJSSDK(['hideAllNonBaseMenuItem', 'invoke', 'closeWindow']);
        wx.ready(function () {
            wx.hideAllNonBaseMenuItem();
        });
    });
    function getUserFinish() {
        // 调用水印
        var username = $.parseJSON($.cookie("user")).name;
        __canvasWM({
            content: username
        });
        initFun();
    }
</script>
<script type="text/javascript" src="../common/js/getUserInfo.js"></script>