<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>西安银行</title>
    <!-- 洛南贷后解冻列表 -->
    <link rel="stylesheet" href="../../common/css/weui.min.css">
    <link rel="stylesheet" href="../../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../common/css/vant-2.12.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/list.css">
</head>
<body>
    <div class="container" v-cloak style="width: 100%;">
        <van-tabs
            v-model:active="activeName"
            @click="tabsHandle">
            <van-tab title="待审批" name="N"></van-tab>
            <van-tab title="已审批" name="Y"></van-tab>
        </van-tabs>
        <div v-if="dataList.length>0">
            <section class="list-container">
                <div
                    class="item-list backcolorfff "
                    v-for="item in dataList">
                    <div class="item-title fw">{{ item.TaskSeqNum || '' }}</div>
                    <div
                        class="item-content line-top item__link item__link__before10"
                        @click="nextPage(item)">
                        <div class="display">
                            <div class="view-left color999999">客户名称</div>
                            <div>{{ item.CustNm || '' }}</div>
                        </div>
                        <div class="display">
                            <div class="view-left color999999">贷款产品</div>
                            <div class="align-justify">{{ item.LoanPrdct || '' }}</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="nodate" v-else>
            <div class="noMessage">
                <img src="../images/noMessage.png">
            </div>
            暂无数据
        </div> 
    </div>
</body>
<script src="../../common/js/base.js"></script>
<script type="text/javascript" src="../../common/js/vue.min.js"></script>
<script type="text/javascript" src="../../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../../common/js/jquery.cookie_jq.js"></script>
<script type="text/javascript" src="../../common/js/jssdk.js"></script>
<script src="../../common/js/server.js"></script>
<script src="../../common/js/watermark.js"></script>
<script src="../js/thawingList.js"></script>
<script>
    $(function () {
        initJSSDK(['hideAllNonBaseMenuItem']);
        wx.ready(function () {
            wx.hideAllNonBaseMenuItem();
        })
    });
     function getUserFinish (){
        var username = $.parseJSON($.cookie("user")).name;
        __canvasWM({
            content: username
        });
        initFun()
    }
</script>
<script type="text/javascript" src="../../common/js/getUserInfo.js"></script>

</html>