.content{
    padding: 10px 12px;
}

.section_main {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

.view_left {
    max-width: 130px;
}

.view_content {
    padding: 13px 10px;
}

.view_content_A {
    padding: 13px 10px 10px 10px;
}

.view_down_textarea .van-cell {
    background-color: #f3f4f8;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
    padding: 8px 12px;
}

.main_item {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
}

.main_item:first-child {
    margin-top: 0;
}

.meeting_img_icon .meeting_img_icon_item {
    width: 30.3%;
    margin-top: 10px;
    margin-right: 10px;
}

.meeting_img_icon .meeting_img_icon_item img {
    width: 100%;
}

.checked_icon {
    width: 20px;
    height: 20px;
}

.icon_checked_container:first-child {
    margin-right: 30px;
}

.icon_checked_container img {
    width: 20px;
    margin-right: 5px;
}

.equipment_container {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 3px 5px;
    border: 1px solid #efefef;
    color: #999;
    border-radius: 5px;
    font-size: 12px;
}

.equipment_container_hover {
    border-color: #4675c9;
    color: #4675c9;
}


.header_container {
    height: 45px;
    display: flex;
    padding: 0 12px;
    align-items: center;
    /* background-color: #fff; */
}

.header_container >div {
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100px;
    min-height: 30px;
}

.header_container >div:first-child {
    margin-right: 10px;
    font-size: 13px;
}

/* 实心下箭头 */

.triangle {
    position: relative;
    padding-right: 25px !important;
}

.triangle::before {
    content: '';
    position: absolute;
    border-width: 0 6px 6px 0;
    border-style: solid;
    border-color: transparent transparent #A8A8A8 transparent;
    transform: rotate(-45deg);
    top: calc(50% - 5px);
    right: 10px;
}