<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover" name="viewport" />
    <title>贴现通签约查询</title>
    <link rel="stylesheet" href="../../common/css/jquery-weui.min.new.css">
    <link rel="stylesheet" href="../../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../common/css/vant-1.2.3.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <!-- 贴现签约列表 -->
</head>
<body>
    <div class="container" v-cloak>
        <div>
            <div class="header_fiexd_container">
                <header  class="tabs_container display">
                    <div
                        class="fs16 tabs_container_item flex display align_item_center justify_content_center color999999"
                        :class="searchList.DalSt == '00' ? ' tabs_container_item_active fw600' : ''"
                        @click="handleTabs('00')">
                        待处理
                    </div>
                    <div
                        class="fs16 tabs_container_item flex display align_item_center justify_content_center color999999"
                        :class="searchList.DalSt == '01' ? ' tabs_container_item_active fw600' : ''"
                        @click="handleTabs('01')">
                        已处理
                    </div>
                </header>
                <header class="slide_container display" v-if="searchList.DalSt == '01'">
                    <div
                        class="slide_container_item flex display align_item_center justify_content_center"
                        @click="popupMask.show = true">
                        <div class="triangle" v-if="popupMask.checked == '1'">{{ popupMask.checked == '1' ? '当日' : '' }}</div>
                        <div class="triangle" v-if="popupMask.checked == '2'">{{ popupMask.checked == '2' ? '近七天' : '' }}</div>
                        <div class="triangle" v-if="popupMask.checked == '3'">{{ popupMask.checked == '3' ? '近一月' : '' }}</div>
                        <div class="triangle" v-if="popupMask.checked == '4'">{{ popupMask.checked == '4' ? '近三月' : '' }}</div>
                        <div class="triangle" v-if="popupMask.checked == ''">{{ popupMask.checked == '' ? '自定义' : '' }}</div>
                    </div>
                    <div
                        class="slide_container_item flex display align_item_center justify_content_center"
                        @click="popupSign.show = true">
                        <div class="triangle">
                            {{ searchList.SgnSt == '' ? '全部签约状态' : formatSgnSt(searchList.SgnSt) }}
                        </div>
                    </div>
                </header>
            </div>
            <div :class="searchList.DalSt == '00' ? 'now_height43' : 'now_height113'"></div>
            <header class="banner_header_container colorFF573F fs10" v-if="searchList.DalSt == '00'">
                提示：文件下载后系统会将已生成的文件推送至您的企业微信，请注意查看。
            </header>
            
            
            <section class="main_container">
                <van-list
                    v-model="listLoading"
                    :finished="listFinished"
                    @load="onLoad">
                    <div class="main_content">
                        <div
                            class="main_content_item"
                            v-for="(item, index) in dataList"
                            :key="index">
                            <div class="main_content_item_header display">
                                <div class="flex">{{ item.Nm }}</div>
                                <div class="header_267EF0 fs10" v-if="item.SgnSt == 'ST02'">
                                    {{ formatSgnSt(item.SgnSt) }}
                                </div>
                                <div class="header_267EF0 fs10" v-if="item.SgnSt == 'ST05'">
                                    {{ formatSgnSt(item.SgnSt) }}
                                </div>
                                <div class="header_267EF0 fs10" v-if="item.SgnSt == 'ST07'">
                                    {{ formatSgnSt(item.SgnSt) }}
                                </div>
                                <div class="header_FF353B fs10" v-if="item.SgnSt == 'ST03'">
                                    {{ formatSgnSt(item.SgnSt) }}
                                </div>
                                <div class="header_FF353B fs10" v-if="item.SgnSt == 'ST04'">
                                    {{ formatSgnSt(item.SgnSt) }}
                                </div>
                                <div class="header_FF353B fs10" v-if="item.SgnSt == 'ST06'">
                                    {{ formatSgnSt(item.SgnSt) }}
                                </div>
                                
                            </div>
                            <div class="__main_content_item fs13">
                                <div class="display item_views">
                                    <div class="color999999 __main_content_view_left display  align_item_center">
                                        统一社会信用代码
                                    </div>
                                    <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                        {{ item.UvslSocCrCd }}
                                    </div>
                                </div>
                                <div v-if="searchList.DalSt == '00'">
                                    <div class="display item_views">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            贴现申请人状态
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.DcnApltSt ? formatDcnApltSt(item.DcnApltSt) : '' }}
                                        </div>
                                    </div>
                                    <div class="display item_views">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            企业所有制形式
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.FomBusOwshp ? formatFomBusOwshp(item.FomBusOwshp) : '' }}
                                        </div>
                                    </div>

                                    <div class="display item_views">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            签约状态
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.SgnSt ? formatSgnSt(item.SgnSt) : '' }}
                                        </div>
                                    </div>
                                    <div class="display item_views">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            提交时间
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.SubTm }}
                                        </div>
                                    </div>
                                </div>
                                <div v-if="searchList.DalSt == '01'">
                                    <div class="display item_views" v-if="item.SgnSt != 'ST03'">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            授信额度
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.CdtExtLmt ? parseFloat(item.CdtExtLmt).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') : '' }}
                                        </div>
                                    </div>
                                    <div class="display item_views" v-if="item.SgnSt != 'ST03'">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            签约到期日期
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.SgnMatDay }}
                                        </div>
                                    </div>
                                    <div class="display item_views">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            交易时间
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.SubTm }}
                                        </div>
                                    </div>
                                    <div class="display item_views" v-if="item.SgnSt == 'ST03'">
                                        <div class="color999999 __main_content_view_left display  align_item_center">
                                            拒绝原因
                                        </div>
                                        <div class="color272727 __main_content_view_right flex display justify_content_right align_item_center">
                                            {{ item.RfsRsn }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="main_content_item_header color1482FF display justify_content_center align_item_center"
                                @click="detailsHandle(item)">
                                {{ searchList.DalSt == '00' ? '审批' : '详情' }}
                            </div>
                        </div>
                    </div>
                </van-list>
            </section>
            <div class="noList" v-if="noList">
                <img src="../images/noList.png" alt="">
                <span>暂无数据</span>
            </div>
        </div>
        <van-popup v-model="popupMask.show" position="bottom">
            <div class="popup_header">
                <div class="">
                    <div class="popup_header_title display align_item_center justify_content_center">请选择查询日期</div>
                    <div class="popup_close_icon" @click="popupMask.show = false">
                        <img src="../images/close_icon@2x.png" alt="">
                    </div>
                </div>
            </div>
            <div class="pupop_container">
                <div class="popup_content">
                    <div class="popup_sub_text color999999">自定义时间</div>
                    <div class="display">
                        <div
                            class="display flex select_timer_container triangle1 display align_item_center justify_content_center"
                            @click="popupSelectTimerHandle('ReplyDtStrt')">
                            {{ searchList.ReplyDtStrt }}
                        </div>
                        <div class="display align_item_center  justify_content_center interval_container">—</div>
                        <div
                            class="display flex select_timer_container triangle1 display align_item_center justify_content_center"
                            @click="popupSelectTimerHandle('ReplyDtEnd')">
                            {{ searchList.ReplyDtEnd }}
                        </div>
                    </div>
                </div>
                <div class="popup_content">
                    <div class="popup_sub_text color999999">时间段</div>
                    <div class="display popup_checked_coantainer">
                        <div
                            class="flex display justify_content_center align_item_center"
                            :class="popupMask.checked == 1 ? 'checked_active' : ''"
                            @click="popupTimerHandle(1)">
                            当日
                        </div>
                        <div
                            class="flex display justify_content_center align_item_center"
                            :class="popupMask.checked == 2 ? 'checked_active' : ''"
                            @click="popupTimerHandle(2)">
                            近七天
                        </div>
                        <div
                            class="flex display justify_content_center align_item_center"
                            :class="popupMask.checked == 3 ? 'checked_active' : ''"
                            @click="popupTimerHandle(3)">
                            近一月
                        </div>
                        <div
                            class="flex display justify_content_center align_item_center"
                            :class="popupMask.checked == 4 ? 'checked_active' : ''"
                            @click="popupTimerHandle(4)">
                            近三月
                        </div>
                    </div>
                </div> 
            </div>
            <div class="popup_footer">
                <div class="popup_footer_container display">
                    <div
                        class="flex display justify_content_center align_item_center reset_btn"
                        @click="popupResetHandle">
                        重置
                    </div>
                    <div
                        class="flex display justify_content_center align_item_center confirm_btn"
                        @click="popupConfirmHandle">
                        确认
                    </div>
                </div>
            </div>
        </van-popup>
        <!-- 日期 -->
        <van-popup
            v-model="popupTime.show"
            position="bottom">
            <van-datetime-picker
                show-toolbar
                title="请选择"
                type="date"
                :max-date="popupTime.maxDate"
                v-model="popupTime.currentDate"
                @cancel="popupTime.show = false"
                @confirm="popupTimeConfirm">
            </van-datetime-picker>
        </van-popup>

        <van-popup
            v-model="popupSign.show"
            position="bottom">
            <van-picker
                title="请选择签约状态"
                show-toolbar
                :columns="popupSign.list"
                @cancel="popupSign.show = false"
                @confirm="popupSignConfirm">
            </van-picker>
        </van-popup>
        
    </div>
</body>
<script type="text/javascript" src="../../common/js/vue.min.js"></script>
<script type="text/javascript" src="../../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../../common/js/jquery.cookie_jq.js"></script>
<script type="text/javascript" src="../../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../../common/js/base.js"></script>
<script type="text/javascript" src="../../common/js/jssdk.js"></script>
<script src="../../common/js/watermark.js"></script>
<script src="../../common/js/server.js"></script>
<script src="../js/filter.js"></script>
<script src="../js/signList.js?v=202512120"></script>
<script>
    initJSSDK(['hideAllNonBaseMenuItem'])
    wx.ready(function() {
        wx.hideAllNonBaseMenuItem();
    });
    function getUserFinish() {
        var username = $.parseJSON($.cookie("user")).name;
        __canvasWM({
            content: username
        });
        initFun()
    }
    // initFun()
</script>
<script type="text/javascript" src="../../common/js/getUserInfo.js"></script>
</html>