<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover" name="viewport" />
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../common/css/vant-2.12.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css?v=1.0.1">
    <title>银承票据直贴指导利率</title>
    <!-- 银承票据直贴指导利率 -->
</head>
<body>
    <div class="container" v-cloak>
        <!-- 当日未提交 -->
        <div v-if='viewFlag==2'>
            <section class="section_container">
                <div class="header_title display">
                    <div class="flex fw600">{{today}}</div>
                    <div class="color1482FF fw600" @click='toGradeList()'>银行档位管理</div>
                    <div class="color1482FF fw600" @click='toBp()'>BP值管理</div>
                </div>
                <div class="main_container">
                    <div class="display view_content background_E6F5FF">
                        <div class="view_left ">
                            <span class=" color272727 fw600">{{ greaList.subTitle }}</span>
                            <span class="fs10 color999999 letter_spacing0">（其他档位指导利率根据当前档位输入的指导利率计算反显）</span>
                        </div>
                    </div>
                    <div class="display view_content lineBottom" v-for="(param, key) in greaList.rateList" :key="key">
                        <div class="view_left color272727 min_width80">{{ param.date }}</div>
                        <div class="view_right display flex justify_content_right">
                            <div class="view_right flex display justify_content_right color333333">
                                <van-field v-model="param.rate" rows="1" autosize input-align="right" type="number"
                                    placeholder="请输入" @blur="handleBlur" :data-index='key'>
                                </van-field>
                            </div>
                        </div>
                        <div class="view_right_text">%</div>
                    </div>
                </div>
                <div v-if='bpList.length>0' class="footer_info">
                    <div class="color666666">备注:</div>
                    <div class="color666666">1. 票面金额小于100万元指导利率上浮{{bpList[1].bpValue}}BP，小于50万指导利率上浮{{bpList[0].bpValue}}BP；
                    </div>
                    <div class="color666666">2. 每日至少发布一次，指导利率当日有效；</div>
                    <div class="color666666">3. 如遇优质客户可在指导价格基础上向交易银行部提出优惠申请。</div>
                </div>
            </section>
            <footer class="footer_container display">
                <div class="button_container_left display flex align_item_center justify_content_center"
                    @click='previewRate()'>
                    预览
                </div>
                <div class="button_container display flex align_item_center justify_content_center" @click="submitHandle()">
                    提交
                </div>
            </footer>
        </div>
        <!-- 当日已提交 -->
        <div v-if='viewFlag==1'>
            <div style="height:10px;"></div>
            <div class="finished_box" style="padding-top: 8px;box-sizing: border-box;">
                <img class="success_img" src="./images/success.png" alt="">
                <div style="padding-bottom: 25px;box-sizing: border-box;">您今日已提交银承票据直贴指导利率</div>
            </div>
            <div class="finished_footer">
                <span style="color: #3199DD;" @click='editTap("edit")'>修改</span>
                <span style="color: #FFFFFF;background: #3199DD;" @click='editTap("detail")'>查看详情</span>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../common/js/vue.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie_jq.js"></script>
<script type="text/javascript" src="../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../common/js/base.js"></script>
<script type="text/javascript" src="../common/js/jssdk.js"></script>
<script src="../common/js/server.js"></script>
<script src="js/common.js?v=1.1.0"></script>
<script src="js/index.js?v=1.5.6"></script>
<script src="../common/js/watermark.js"></script>
<!-- <script src='../common/js/vConsole.min.js'></script> -->
<script>
    // var vConsole = new VConsole();
    initJSSDK(['hideAllNonBaseMenuItem'])
    wx.ready(function() {
        wx.hideAllNonBaseMenuItem();
    });
    function getUserFinish() {
        var username = $.parseJSON($.cookie("user")).name;
        __canvasWM({
            content: username
        });
        initFun()
    }
</script>
<script type="text/javascript" src="../common/js/getUserInfo.js"></script>
</html>