<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>人员管理</title>
    <link rel="stylesheet" href="../common/css/vant-2.12.css">
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="css/index.css?v=1.0">
</head>
<body style="overflow: hidden">
    <div id="app" style="overflow-y: scroll;height: 100%;display:none">
       <div v-if="page=='page1'">
            <div class="contentPart">
                <div class="contentLine" v-if="type=='0'">
                    <div class="textTitle">机构号</div>
                    <div class="inputLine">                        
                        <van-field   @blur="getOrgName"  type="digit" v-model="info.orgid" rows="1" placeholder="请输入" maxlength="6" center></van-field>
                    </div>
                </div>
                <div class="contentLine" v-else>
                    <div class="textTitle">机构号</div>
                    <div class="inputLine">                        
                        {{info.orgid}}                    
                    </div>
                </div>
                <div class="contentLine">
                    <div class="textTitle">机构名称</div>
                    <div class="inputLine">                        
                        {{info.orgname}}
                    </div>
                </div>
            </div>
            
            <div class="contentPart" v-for="(item,index) in info.persons">
                <div class="contentLine">
                    <div class="textTitle">员工号</div>
                    <div class="inputLine">                        
                        <van-field   type="digit" v-model="item.humancode" rows="1" placeholder="请输入" maxlength="6" center></van-field>
                    </div>
                </div>
                <div class="contentLine selectChoose">
                    <div class="textTitle">权限类别</div>
                    <div class="inputLine" @click="choosePower(index)">                        
                        {{item.datatype?typeObj[item.datatype]:"请选择"}}
                    </div>
                </div>
                <div class="operationPart" @click="deleteHuman(index)">
                    <div>删除员工</div>
                </div>
               
            </div>
            
            <div class="cancelButton"  @click="addHuman" style="width: 60%;">
                <div >增加员工</div>
            </div>
            <div>
                <van-popup v-model="typeshow" position="bottom">
                    <van-picker
                            show-toolbar
                            :columns="typeList"
                            @confirm="onTypeConfirm"
                            @cancel="typeshow=false"
                    >
                    </van-picker>
                </van-popup>
            </div>
            <div style="height: 80px;"></div>
            <div class="footApply" v-if="type=='0'">
                <div @click="addtBtn">
                    <span>提交</span>
                </div>
            </div>
            <div class="footTabAdd" v-if="type=='2'">
                <div @click="deletetBtn" class="deletetBtn">
                    <span>删除全部</span>
                </div>
                <div @click="addtBtn" class="addHumanTab">
                    <span>提交</span>
                </div>
            </div>
            
       </div>
       
      

    </div>
</body>
<script src="../common/js/vue.min.js"></script>
<script src="../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../common/js/base.js?v=202110220"></script>
<script type="text/javascript" src="../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie_jq.js"></script>
<script src="../common/js/watermark.js"></script>
<script type="text/javascript" src="../common/js/jssdk.js"></script>
<script src="./../common/js/server.js"></script>
<script type="text/javascript" src="js/addPhjdLeaderMain.js"></script>
<!-- <script src="../common/js/vConsole.min.js"></script> -->
<script type="text/javascript">
    // var vConsole = new VConsole();
    
    function getUserFinish(){
            initJSSDK(['hideAllNonBaseMenuItem','invoke','closeWindow']);

           wx.ready(function() {
               wx.hideAllNonBaseMenuItem();
               WeixinJSBridge.on('menu:setfont', function() {
                    WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : '0' });
                });

           });
           // 调用水印
           var username = $.parseJSON($.cookie("user")).name;
           __canvasWM({
               content: username
           });
           initFun()
    }
</script>
<script type="text/javascript" src="../common/js/getUserInfo.js"></script>
</html>