<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>建档申报</title>
    <link rel="stylesheet" href="../common/css/vant-2.12.css">
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/weui.min.css">
    <link rel="stylesheet" href="../common/css/jquery-weui.min.css">
    <link rel="stylesheet" href="css/index.css?v=1.0">
</head>
<body style="overflow: hidden">
    <div id="app" style="overflow-y: scroll;height: 100%;display:none">
        <div v-if="page=='page1'">
            <div class="noTestPart">
                <img src="images/notest.png">
                <div>当前首次进行有效建档申报时，需进行建档立卡应知应会答题，答题全部正确才可进行有效建档的申报。</div>
            </div>
            <div class="applyButton"  @click="gotest">
                <div >立即答题</div>
            </div>
        </div>
        <div v-if="page=='page2'">
            <van-popup v-model="show" round position="bottom" :style="{height:'50%'}">
                <div class="bottomTop">
                    <div>签署同意书</div>
                    <div @click="cancelBtn">取消</div>
                </div>
                <div class="bottomContent">
                    我已充分了解建档立卡工作相关要求，承诺申报的建档客户均已进行现场走访和沟通，录入的非公开信息均为与客户交流所得，采集的影像资料均为客户经营现场。
                </div>
                <div class="applyButton"  @click="signBtn" style="width: 88%;margin: 10px auto;">
                    <div >我已阅读并同意</div>
                </div>
            </van-popup>
        </div>
       <div v-if="page=='page3'">
            <div class="tabList" style="margin-top: 0;">
                <div :class="type=='2'?'activeTab':''"  @click="chooseType('2')">待申报</div>
                <div :class="type=='1'?'activeTab':''"  @click="chooseType('1')">已抽查</div>
                <div :class="type=='3'?'activeTab':''"  @click="chooseType('3')">申报情况</div>
            </div>
            <!-- <div class="searchChoose" v-if="type=='1'">
                <div class="searchOne" @click="showChhose('checkStatus')">{{checkStatusOpt[checkStatus]}}<img src="images/dropDown.png"></div>
            </div> -->
            <div class="gradeChoose gradeChooseNew searchChoose" style="border:0" v-if="type=='1'">
                <div :class="checkStatus=='2'?'chooseItems':''" @click="chooseTab('2')" style="border-radius: 10px;">抽查驳回</div>
                <div :class="checkStatus=='1'?'chooseItems':''" @click="chooseTab('1')" style="border-radius: 10px;">抽查通过</div>
            </div>
            <div class="searchChoose topFlex" v-if="type=='3'">
                <div class="searchOne" @click="showChhose('year')">{{year}}年<img src="images/dropDown.png"></div>
                <div class="sbWarn" @click="showSbWarn=true">申报批次说明</div>
            </div>
            <van-popup v-model="showSbWarn" round position="bottom" :style="{height:'55%'}">
                <div class="bottomTop">
                    <div>申报人申报说明</div>
                    <div @click="showSbWarn=false">取消</div>
                </div>
                <div class="bottomContent" style="text-indent: 0;">
                    <div>1、申报将按月分为两个批次：上月末倒数第3天（含）~本月12号（含）为1个批次、本月13号（含）至本月末倒数第4天（含）为当月第2个批次。如7月29号~8月12号为一个批次；8月13号~8月28号为一个批次。按照申报时间归属至相应批次。</div>
                    <div>2、请确保申报有效的建档均为实地建档，且与客户进行交流。</div>
                    <div>3、抽查批次中若有一个建档存在问题，抽查人进行批量“抽查拒绝”处理，将会对该批次中未抽查的及抽查未通过的均进行退回，其中未抽查的将展示在待申报列表，已抽查未通过的展示在已抽查列表，建档人重新检查后可再次发起有效申报。</div>
                </div>
                <div class="applyButton"  @click="showSbWarn=false" style="width: 88%;margin: 10px auto;">
                    <div >我知道了</div>
                </div>
            </van-popup>
            <div>
                <van-popup v-model="typeshow" position="bottom">
                    <van-picker
                            show-toolbar
                            :columns="typeList"
                            @confirm="onTypeConfirm"
                            @cancel="typeshow=false"
                    >
                    </van-picker>
                </van-popup>
            </div>
            <div class="humanChooseList" v-if="list.length>0">
                <div v-if="type=='2' || type=='1'">
                    <div class="declareList" v-for="(item,index) in list">
                        <div class="selectChoose" @click.stop="goDetail(item.checkid,item.phjdid)">
                            <div v-if="type=='2' || (type=='1'&& checkStatus=='2')" class="declareListImg"  @click.stop="multipleChoose(index)"><img :src="item.dots?'images/choose.png':'images/unchoose.png'"></div>
                            <div class="declareListText">
                                <div class="declareName">{{item.lookname}}</div>
                                <div class="declareTime">首次建档时间：{{item.createtime}}</div>
                            </div>
                        </div>
                        <div v-if="type=='1' && checkStatus=='2'" @click.stop="goEdit(item.jdType,item.phjdid,item.datatype)">
                            <div class="refusePart selectChoose">
                                建档申报被驳回，修改资料后方可重新申报，<span>点击修改资料</span>
                            </div>
                            <div style="height: 10px;"></div>
                        </div>
                    </div>
                </div>
                <div v-if="type=='3'">
                    <div class="chList" v-for="(item,index) in list">
                        <div class="chTop" @click="checkbatchnumPage(item.checkbatchnum)">
                            <div>{{item.checkbatchname}} </div>
                        </div>
                        <div class="chLine">
                            <div>建档申报总数</div>
                            <div>{{item.total}}</div>
                        </div>
                        <div class="chLine">
                            <div>已抽查</div>
                            <div>{{ Number(item.checkedagree)+Number(item.checkedrefuse)}}（抽查数占总体的{{item.checkpercent}}%)</div>
                        </div>
                        <div class="chLine">
                            <div>状态</div>
                            <div :class="'chStatus'+item.batchstatus">{{batchstatusOpt[item.batchstatus]}}</div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div  class="nodate" v-else>
                <div class="noMessage">
                    <img src="images/noMessage.png">
                </div>
                暂无数据
            </div>
            <div style="height: 80px;"></div>
            <div class="footTabAdd" v-if="type=='2' || (type=='1'&& checkStatus=='2')">
                <div class="footText">
                    <div class="allChoose" @click="allChoose"><img :src="ifAllChoose?'images/choose.png':'images/unchoose.png'">{{ifAllChoose?'取消全选':'全选'}}</div>
                    <div v-if="submitList.length>0">已选择<span style="color: #FF353B;">{{submitList.length}}</span>个</div>
                </div>
                <div @click="submitsbtn" class="addHumanTab">
                    <span>提交申报</span>
                </div>
            </div>
            <div class="backBtn" @click="goChpage()" v-if="ifShowBtn">
                <img src="images/jdcc.png">
            </div>
       </div>
       <div v-if="page=='page4'">
            <div class="chbg">
                <img src="images/bg.png">
            </div>
            <div class="chTopBk">
                <div class="chTopOne">
                    <div>{{batchInfo.total}}</div>
                    <div>建档申报总数</div>
                </div>
                <div class="chTopOne">
                    <div>{{Number(batchInfo.checkedagree)+Number(batchInfo.checkedrefuse)}}</div>
                    <div>已抽查</div>
                </div>
                <div class="chTopOne">
                    <div style="color: #FF353B;" v-if="batchInfo.checkpercent>0">{{batchInfo.checkpercent}}<span style="font-size:16px">%</span></div>
                    <div v-else>{{batchInfo.checkpercent}}<span style="font-size:16px">%</span></div>
                    <div >抽查数占总体</div>
                </div>
            </div>
            <div>
                <div class="declareList" v-for="(item,index) in batchInfo.detailList">
                    <div class="selectChoose"@click.stop="goDetail(item.checkid,item.phjdid)">
                        <div class="declareListText">
                            <div class="declareName">{{item.custname}}</div>
                            <div class="declareTime">本次申报时间：{{item.jdtime}}</div>
                        </div>
                        <div :class="'chListStatus'+item.checkstatus" v-if="batchInfo.batchstatus=='0'">{{checkstatusListOpt[item.checkstatus]}}</div>

                        <div :class="'chListStatus'+item.checkstatus" v-else>{{checkstatusListOptNew[item.checkstatus]}}</div>
                    </div>
                </div>
            </div>
            <div style="height: 90px;"></div>
            <div class="footApply" >
                <div @click="backBtn">
                    <img  class="applyEdit">
                    <span>返回</span>
                </div>
            </div>
       </div>
    </div>
</body>
<script src="../common/js/vue.min.js"></script>
<script src="../common/js/vant-2.12.min.js"></script>
<script type="text/javascript" src="../common/js/base.js?v=202110220"></script>
<script type="text/javascript" src="../common/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie_jq.js"></script>
<script src="../common/js/watermark.js"></script>
<script type="text/javascript" src="../common/js/jssdk.js"></script>
<script src="./../common/js/server.js"></script>
<script type="text/javascript" src="js/declare.js?v=1"></script>
<!-- <script src="../common/js/vConsole.min.js"></script> -->
<script type="text/javascript">
    // var vConsole = new VConsole();
    
    function getUserFinish(){
            initJSSDK(['hideAllNonBaseMenuItem','invoke','closeWindow']);

           wx.ready(function() {
               wx.hideAllNonBaseMenuItem();
               WeixinJSBridge.on('menu:setfont', function() {
                    WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : '0' });
                });

           });
           // 调用水印
           var username = $.parseJSON($.cookie("user")).name;
           __canvasWM({
               content: username
           });
           initFun()
    }
</script>
<script type="text/javascript" src="../common/js/getUserInfo.js"></script>
</html>